aiohttp
python-decouple
pyaesni
https://github.com/1Danish-00/Telethon/archive/master.zip
html_telegraph_poster
requests
psycopg2-binary
pybase64
pyrogram
pyshorteners
python-dotenv
python-magic
python-telegram-bot
